* {
    flex-wrap: wrap;
}

/* .main-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    perspective: 580px;
    transition: all .5s;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%,
                        rgba(0,0,0,1) 15%, rgba(121,9,9,1) 100%);
   

} */
/* .main-box:hover{
    perspective: 1500px;
} */
.wrapper {
    width: 150px;
    height: 150px;
    position: relative;
    top: 10rem;
    /* right: 8rem; */
    transition: all 15s;
    transform: rotateZ(0) rotateX(0) rotateY(0);
    transform-style: preserve-3d;
}

@keyframes box {
    0% {
        transform: rotateZ(0) rotateX(0) rotateY(0);

    }

    30% {
        transform: rotateZ(0deg) rotateX(-90deg) rotateY(-360deg);

    }

    60% {
        transform: rotateZ(0) rotateX(0) rotateY(0);

    }

    100% {
        transform: rotateZ(0deg) rotateX(90deg) rotateY(360deg);

    }
}

.wrapper {
    /* width: 300px; */
    position: relative;
    /* top: 3rem;
    right: 2rem; */

    animation: box 15s infinite 1s linear;
}

@keyframes box {
    0% {
        /* rotate: 0deg; */

        transform: rotateZ(0deg) rotateX(-0deg) rotateY(0deg) rotateX(0deg) rotateY(00deg);

    }

    100% {
        /* rotate: 360deg; */
        transform: rotateZ(0deg) rotateX(-90deg) rotateY(360deg) rotateX(90deg) rotateY(360deg);

    }

}

.face {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    opacity: 1;
    display: flex;
    /* align-items: center;
    justify-content: center; */

}

.face:nth-child(1) {
    background: url(./Images/react.jpg);
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    /* transform-origin:center bottom; */
    transform: translateZ(50px) rotateY(0deg);
    box-shadow: 0px 0px 46px 10px #e44500;
    border-radius: 5px;
}

.face:nth-child(2) {
    background-image: url(./Images/css.webp);
    /* background-color: rgba(246, 9, 9, 0.581); */

    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center bottom;
    /* transform: translateZ(-100px) translateX(150px) rotateZ(-90deg) rotateY( -90deg); */
    transform: rotateX(-90deg) translateX(0px) translateY(100px);
    box-shadow: 0px 0px 40px 10px #2d9fd6;
    border-radius: 5px;
}

.face:nth-child(3) {

    background-image: url(./Images/javascript.png);
    /* background-color: rgba(0, 128, 0, 0.355); */
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center top;
    transform: rotateX(-90deg) rotateY(180deg) translateX(0px) translateY(-50px);
    box-shadow: 0px 0px 40px 10px yellow;
}

.face:nth-child(4) {
    background-image: url(./Images/html.jpg);
    /* background-color: rgba(255, 255, 0, 0.436); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center bottom;
    transform: translateZ(-25px) translateX(75px) rotateY(90deg);
    box-shadow: 0px 0px 40px 10px #00ffff5c;
}

.face:nth-child(5) {
    background-image: url(./Images/jquery.png);
    /* background-color: rgba(128, 0, 128, 0.338); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center bottom;
    transform: translateZ(-100px) rotatey(180deg);
    box-shadow: 0px 0px 40px 10px cyan;
}

.face:nth-child(6) {
    background-image: url(./Images/bootstrap.png);
    /* background-color: rgba(0, 255, 255, 0.404); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center bottom;
    transform: translateZ(-25px) translateX(-75px) rotateY(-90deg);
    box-shadow: 0px 0px 40px 10px #ab47bc;

}


@media screen and (max-width:900px) {
    .wrapper {
        right: 0;
        /* top:0; */
    }


}

@media screen and (max-width:875px) {
    .wrapper {
        top: 0;
        width: 90px;
        height: 99px;
    }

    .face:nth-child(2) {
        transform: rotateX(-90deg) translateX(0px) translateY(45px) translateZ(4px);
    }
    .face:nth-child(4){
        transform: translateZ(0px) translateX(40px) rotateY(90deg);
    }
    .face:nth-child(5){
        transform: translateZ(-45px) rotatey(180deg);
    }
    .face:nth-child(6){
        transform: translateZ(0px) translateX(-40px) rotateY(-90deg);
    }
}