*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
    border-bottom: none;

}
.header{
    z-index: 100;
    position: fixed;
    height: 5rem;
    width: 100%;
    /* top: 80px; */
    left: 0;
    /* transition: .3s ease-in;
    overflow: hidden; */
    /* background-color: rgba(0, 0, 0, 0.556); */
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(4, 158, 153); */
    color: black;
    height: 6rem;
    z-index: 1;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.244) ;
    /* box-shadow: 0px 0px 30px darkslateblue; */

}

.nav-item:hover{
    background-color: cyan;
    /* color: black; */

}
.nav-item :hover  i{
    color:black;
}


.nav-menu .nav-item a{
    color: white;
    font-weight: 900;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}




.logo img{
    width: 50px;
    height: 50px;
    border-radius: 5px;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    top: 5rem;
    padding: 10px;
    /* background-color: rgb(4, 158, 153); */
    
}

.hamburger{
    display: none;
}

@media screen and (max-width:900px)  {
    .hamburger{
        display: block;
    }
    
.nav-menu.active{
    right: 0rem;
    color: red;
    width: 15rem;
    top: 5rem;
    background-color: black;

}
    .navbar{
        /* background-color: black; */
        z-index: 1;
        position: relative;
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        flex-direction: column;
        line-height:-1px ;
        transition: 1.5s;
        text-align: center;
        padding:10px 0 ;
        width: 30%;
        height: 20rem;
        z-index: 0;
    }
    .nav-menu .nav-item a{
        font-weight: 900;
        color: rgb(4, 158, 153);
        font-size: 18px;
        padding: 10px;

    }

   .nav-menu .nav-item{
    padding: 20px;
   }
   .nav-menu .nav-item:hover{
    background-color: aquamarine;

   }

}